{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as utils %}

{% block title %} {{ parent() }} - You're Hanged ! {% endblock %}

{% block body %} 
    {{ utils.breadcrumb({'Home': 'homepage', 'Game': 'game', 'You failed': app.request.attributes.get('_route')}) }}

    <h2>Game Over!</h2>

    <p>
        Oops, you're hanged... The word to guess was <strong>xilophon</strong>.
    </p>
{% endblock %}
